/* ---------!!--FONTS--!!------- */
// &display=swap
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap');
/* ---------!!--FILE-STYLES--!!--------- */
@import "_nullstyle";
@import "_ibg";
// --------переменные--------
$nav: #252525;
$text: #000000;
$white: #FFFFFF;
$grey: #D9D9D9;
$yellow: #FFCC00;
$border: #D7D7D7;
/* ---------!!--HEADER--!!--------- */
@import "_header";
/* ---------!!--BODY--!!--------- */
body{
	font-family: Roboto,system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    &.active{overflow: hidden;}
}
a{color: $nav;}
/* --------!!--WRAPPER--!!------- */
.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
/* ---------!!--CONTAINER--!!--------- */
.container{
 	// max-width: ;
    margin: 0 auto;
}
/* ---------!!--CONTENT--!!--------- */
.content { 
    flex: 1 1 auto;
}
/* ---------!!----!!--------- */



